<form method="post" action="{{ route('SecurityController.login')}}">
    <label for="email">E-mail</label>
    <input name="email" class="" />
    <label for="password">Mot de passe</label>
    <input type="password" name="password" class="" />
    <button type="submit" class="btn btn-primary">Se connecter</button>
    <button class="btn btn-primary">Je n'ai pas de compte</button>
</form>