<form method="post" action="{{ route('SecurityController.register')}}">
    <label for="email">E-mail</label>
    <input name="email" class="" />
    <label for="password">Mot de passe</label>
    <input type="password" name="password" class="" />
    <label for="passwordConfirmation">Confimer le mot de passe</label>
    <input type="password" name="passwordConfirmation" class="" />
    <button type="submit" class="btn btn-primary">S'enregistrer</button>
</form>