@layout('Layouts/default')

@set('title', 'Accueil')

@section('content')
@if (auth.isLoggedIn)
<p> Hello {{ auth.user.email }} </p>

<form method="post" action="{{ route('SecurityController.logout')}}">
    <button type="submit" class="btn btn-danger">Se déconnecter</button>
</form>
@else
@include('Partials/login')
{{-- @include('Partials/register') --}}
@end
@end